reccmp-user.yml
reccmp-build.yml

# Build output
/build*/
/CMakeFiles/
/dependencies/
*.obj
*.pdb
*.ilk
*.exp
*.lib
!3rdparty/**/*.lib
*.exe
*.asm

# reccmp reports
report.html
*.svg
__pycache__/
build-portable/
build-asan/

/SteamworksSDK/
